* {
    margin: 0;
}

/* TITLE */


/* HEADER START */

.container {
    display: flex;
    justify-content: center;
}

header {
    padding: 20px 0;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


header nav ul li {
    display: inline;
    justify-content: center;
    flex-direction: row;
}

li {
    justify-content: space-between;
}

header nav ul li a {
    color: white;
    font-size: 17px;
}


/* HERO START */

.container-hero {
    display: flex;
    justify-content: center;
    background-color: #efdef9;
}

.hero img {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* HERO UNDER LINE START */

.container-under-line, .hr {
    border: solid 8px rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    width: 100%;
    
}

.container-whole,
.nav1 {
    display: block;
    text-align: center;
}

/* BODY / REYNA START */



.work-container, 
.work-container-2 {
    display: flex;
    justify-content: center;
    /* margin: 5px 10px 5px 10px; */
}


.short-bio, p {
    text-align: left;
    display: flex;
    justify-content: center;
    /* margin-left: 25px; */
    margin-right: 25px;

}

/* WORK START */

  .container-artwork1 {
      /* width: 100%;
      margin: 30px, 10px, 20px; */
      display: flex;
      justify-content: center;
  }


/* WORK START 2 */

.work-container-2 {
    background-color: black;
    padding: 40px;
    max-width: 100%;
    display: flex;
    justify-content: center;
}


/* CONTACT START */

.container-contact {
     /* background-color: khaki; */
     display: flex;
     justify-content: center;
     max-width: 100%;
    
 }

 .container-nav3 {
padding-top: 20px;
 }

 .container-myself {
    width: auto;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}


 .container-external-links, .ul {
     font-size: 20px;
     text-align: left;
 }

.container-email {
    display: flex;
    justify-content: center;
}

.text-email {
    padding-bottom: 20px;
}

/* FOOTER START */

footer {
    
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px 0;
    background-color: black;

}
.love {
    color: blanchedalmond;
    margin: 0, 30px;
    font-size: 17px;
}

.love-p {
    color: white;
    font-size: 15px;
    display: flex;
    justify-content: center;
}

