* {
    margin: 0;

    /* HEADER START */
}
header {
    padding: 12px 0;
    background-color: black;
    display: flex;
    justify-content: center;
}
header h1 {
    background-image: "../images/queen-homepage.jpg";
    width: 117px;
    height: 55px;
    display: flex;
    justify-content: center;
}

header nav {
    float: right;
    margin: 12px 0;
}

header nav ul li {
    display: inline;
}
header nav ul li a {
    color: white;
    margin: 0 30px;
    font-family: Verdana, "Geneva", Tahoma, sans-serif;
    font-size: 20px;
}

/* HERO START */
.hero {
    display: flex;
    justify-content: center;
    background-color: #efdef9;
}

.hero img {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* HERO UNDER LINE START */

.under-line, .hr {
    border: solid 3px red;
    display: flex;
    justify-content: center;
    width: 100%;
    
}

/* BODY / REYNA START */

.whole{
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.whole, .h2, .nav1, .nav2 { 
    font-size: 45px;
    text-align: right;
    display: inline;
}

.myself-container, .work-container, .work-container-2, .contact-container {
    padding: 0;
    
    display: flex;
    justify-content: center;
    margin: 5px 10px 5px 10px;
}


.short-bio, p {
    font-size: 20px;
    font-style: normal;
    display: flex;
    margin: 0px 10px 20px 10px;
    justify-content: center;
    text-align: left;

}

/* WORK START */

  .img, .box1 {
      width: 100%;
      margin: 30px, 10px, 20px;
      display: flex;
      justify-content: center;
  }

  .nav2, .h2 {
      margin-left: 119px;
  }
  
  .work-container, .vl {
      height: 100%;

  }

/* WORK START 2 */

.work-container-2 {
    background-color: black;
    padding: 30px;
}

.vl {
    border-left: 6px solid black;
    height: 150px;
    width: 100px;
    left: 25%;
    margin-left: 7%;
    display: flex;
    justify-content: center;
  }
  
  .more-work, .img {
    display: flex;
    justify-content: center;

  }

/* CONTACT START */

.contact-container {
     background-color: khaki;
     padding: 50px 0px;

 }
 .nav3, .h2 {
     margin-left: 70px;
 }

 .external-links, .ul {
     font-family: Georgia, 'Times New Roman', Times, serif;
     font-size: 25px;
     text-align: left;
 }


/* FOOTER START */

footer {
    
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px 0;
    background-color: black;

}
.h2, .love {
    color: blanchedalmond;
    margin: 0, 30px;
    font-family: Verdana, "Geneva", Tahoma, sans-serif;
    font-size: 12px;
}

.p .love {
    color: white;
    font-size: 8px;
    display: flex;
    justify-content: center;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
    /* this will be applied on any screen smaller than 980px */

    @media screen and (max-width: 980px) {
        .header, .footer {
          padding-bottom: 0;
          justify-content: center;
        }
      
        header nav ul li a {
          font-size: 20px;
        }
      

        footer h2, footer div {
          text-align: center;
          width: 100%;
        }
         
        .work-container-2, .contact-container {
          display: flex;
          justify-content: center;
        }

        .more-work, .img {
            width: 100%;
            display: flex;
            justify-content: center;
            box-sizing: border-box;
        }
        
        .child-top-1, .child-top-2, .child-down-3, .child-down-4 {
            width: 25%;
            display: flex;
            justify-content: center;
        }
    
        .contact-container  {
            padding: 0;
            display: flex;
            justify-content: center;
        }

        .myself {
            width: 50%;
            margin-left: 20px;
        }

        .nav3, .h2 {
            font-size: 45px;
        }
        .external-links {
             margin-right: 15px;
        }
        .nav2, .vl1, .more-work {
             display: flex;
             justify-content: center;
    }


  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
    /* this will be applied on any screen smaller than 768px */

@media screen and (max-width: 768px) {

    .contact-container {
        display: flex;
        justify-content: center;
    }

    .myself {
        display: flex;
        justify-content: center;
        margin-right: 10px;
    }

    .email, .h5 {
        margin-right: 20px;
    }

    .nav3 {
        margin: 0;
    }

    .nav3, .h2 {
        margin: 2px, 2px, 2px, 5px;
    }
}

  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
    /* this will be applied on any screen smaller than 575px */

@media screen and (max-width: 575px) {

.header {
    padding: 0;
    display: flex;
    justify-content: center;
    }

.home-navigation, ,ul, .li, a {
    display: flex;
    justify-content: center;
    text-align: center;
    }

 .homepage-bTn {
    width: auto;
    margin: 5px, 5px, 5px, 5px;
    }

.contact-container {
    display: flex;
    justify-content: center;
    }

    .myself {
        width: 150px;
        height: 150px;
    }

    .nav3, .h2 {
        font-size: 35px;
    }

    .external-links, .h5 {
        font-size: 15px;
    }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
    /* this will be applied on any screen smaller than 393px */

@media screen and (max-width: 393px) {

.header {
    padding: 10px auto;
        margin-right: 16px;
      }

.short-bio {
    font-size: 16px;
}

.contact-container  {
        padding: 10px, 0, 20px, 0;
        display: block;
        justify-content: center;
    }
     .myself {
        width: 120px;
        height: 120px;
        display: flex;
        align-items: center;
        position: absolute;
    } 

    .nav3 {
        margin-left: 80px;
        display: flex;
        justify-content: center;
        margin-top: 0;
        position: relative;
        top: 20px;
    }
    .external-links, .li {
        margin-left: 80px;
        text-align: justify;
        font-size: 15px;
        position: relative;
        bottom: 100px;

    }
}