* {
    margin: 0;
}

/* TITLE */


/* HEADER START */

.container {
    display: flex;
    justify-content: center;
}

header {
    padding: 15px 0;
    background-color: black;
    display: flex;
    justify-content: center;
}


header nav ul li {
    display: inline;
    justify-content: center;
}

li {
    justify-content: space-between;
}

header nav ul li a {
    color: white;
    font-family: Verdana, "Geneva", Tahoma, sans-serif;
    font-size: 17px;
}


/* HERO START */

.container-hero {
    display: flex;
    justify-content: center;
    background-color: #efdef9;
}

.hero img {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* HERO UNDER LINE START */

.container-under-line, .hr {
    border: solid 3px red;
    display: flex;
    justify-content: center;
    width: 100%;
    
}

.container-whole,
.nav1 {
    display: block;
    text-align: center;
}

/* BODY / REYNA START */



.work-container, 
.work-container-2, 
.container-contact{
    display: flex;
    justify-content: center;
    /* margin: 5px 10px 5px 10px; */
}


.short-bio, p {

    text-align: left;
    font-family: Verdana, "Geneva", Tahoma, sans-serif;

}

/* WORK START */

  .container-artwork1 {
      /* width: 100%;
      margin: 30px, 10px, 20px; */
      display: flex;
      justify-content: center;
  }


/* WORK START 2 */

.work-container-2 {
    background-color: black;
    padding: 30px;
    display: flex;
    justify-content: center;
}


/* CONTACT START */

.container-contact {
     background-color: khaki;
     display: flex;
     justify-content: center;
 }

 .container-myself {
    width: auto;
    display: flex;
    justify-content: center;
}


 .container-external-links, .ul {
     font-family: Georgia, 'Times New Roman', Times, serif;
     font-size: 20px;
     text-align: left;
 }

.container-email {
    display: flex;
    justify-content: center;
}

/* FOOTER START */

footer {
    
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px 0;
    background-color: black;

}
.love {
    color: blanchedalmond;
    margin: 0, 30px;
    font-family: Verdana, "Geneva", Tahoma, sans-serif;
    font-size: 17px;
}

.love-p {
    color: white;
    font-size: 15px;
    display: flex;
    justify-content: center;
}

<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> develop
/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
    /* this will be applied on any screen smaller than 980px */

    /* @media screen and (max-width: 980px) {
        .header, .footer {
          padding-bottom: 0;
          justify-content: center;
        }
      
        header nav ul li a {
          font-size: 20px;
        }
      

        footer h2, footer div {
          text-align: center;
          width: 100%;
        }
         
        .work-container-2, .contact-container {
          display: flex;
          justify-content: center;
        }

        .more-work, .img {
            width: 100%;
            display: flex;
            justify-content: center;
            box-sizing: border-box;
        }
        
        .child-top-1, .child-top-2, .child-down-3, .child-down-4 {
            width: 25%;
            display: flex;
            justify-content: center;
        }
    
        .contact-container  {
            padding: 0;
            display: flex;
            justify-content: center;
        }


        .nav3, .h2 {
            font-size: 45px;
        }
<<<<<<< HEAD
        .external-links {
             margin-right: 15px;
        }
        .nav2, .vl1, .more-work {
             display: flex;
             justify-content: center;
    }
=======
>>>>>>> develop
=======
     */
>>>>>>> develop


         
    
/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
/* @media screen and (max-width: 600px) {

    section, 
    .container-more-work {

    display: block;
    justify-content: center;
    }
} */

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
/* @media screen and (max-width: 500px) {

   .container-whole {
       display: block;
       justify-content: center;
    text-align: center;
    }
<<<<<<< HEAD
}

<<<<<<< HEAD
/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
    /* this will be applied on any screen smaller than 393px */

@media screen and (max-width: 393px) {

.header {
    padding: 10px auto;
        margin-right: 16px;
      }

.short-bio {
    font-size: 16px;
}

/* @media screen and (max-width: 310px) {
>>>>>>> develop

    body {
     display: block;
     justify-content: center;
     width: auto;
     }

     h2,
     .nav1 {
         display: block;
         justify-content: center;
     }

     .container-myself,
     .container-external-links {
         display: block;
         justify-content: center;
     }
 }} */